body {
    font-family: Arial;
    background-color: #e6eef5;
}

/* Khung ngoài */
.container {
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #0077b6;
    border-radius: 20px;
    background-color: #d9e3ec;
}

/* Tiêu đề */
h1 {
    text-align: center;
    background-color: #1982c4;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

/* Bảng */
table#table1 {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-color:blue;
}

td#table1 {
    
    padding: 10px;
}
table
{
	
	 width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
table.table1 {
   
    border:1px soil green;
    text-color:blue;
    border-color:(0,0,255);
    border-radius:50%;
}
/* Ảnh */
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:100%
}


.red {
    color: blue;
}


h2 {
  text-align: center;
    background-color: #1982c4;
    color: #000000;
    padding: 20px;
    border-radius: 15px;
}


ul {
    margin-left: 30px;
}
td{
color:blue;
}
.p1{
front-size:16px;
color:green;

}